.header{
    justify-content: center;
    align-items: center;
    font-size:200%;
    color: rgb(133, 71, 71);
}

.login-cls, .register-cls{
    display: flex;
    justify-content: center;
    background-color: rgb(164, 108, 108);
    text-align: center;
    width: 40%;
    padding: 5%;
    border-radius: 50px;
}

.navbar {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.navbar li {
    display: inline-block; /* Display items inline */
    margin-right: 25px; /* Adjust spacing between items */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.navbar li:last-child {
    margin-right: 0; /* Remove margin for the last item */
}
  

.notes-cls{
    display: flex;
    display: run-in;
    float: left;
    width: 60%;
    padding: 15px;
    text-align: center;

}

.action-cls{
    display: flex;
    float:left;
    width: 60%;
    padding: 15px;
    text-align: center;

}



    @media screen and (max-width:800px) {

        .category-cls,
        .notes-cls,
        .action-cls{
            width: 100%;
        }
       
    }
    
    @media screen and (max-width:800px) {
        .category-cls,
        .notes-cls,
        .action-cls,
        .login-cls,
        .register-cls{
            width: 100%;
        }
        
    }

   *{
    border: 1px solid red;
   }