.header{
    justify-content: center;
    align-items: center;
    font-size:250%;
    color: rgb(133, 71, 71);
}

.login-cls, .register-cls{
    display: flex;
    justify-content: center;
    background-color: rgb(164, 108, 108);
    text-align: center;
    width: 40%;
    padding: 5%;
    border-radius: 50px;
}

.centerCls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



 ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #333;
}
  
 li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

#categ{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}
  
 li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover:not(.active) {
    background-color: #111;
}

li:last-child {
    border-right: none;
  }
  
.active {
    background-color: #aa0457;
}



.notes-cls{
    background-color: rgb(164, 108, 108);
    display: flex;
    float: left;
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;
    text-size-adjust: 100px;

}

.action-cls{
    float: left;
    padding: 20px;
    text-align: right;

}

.action-cls button{
    margin-bottom: 10px;
}



    @media screen and (max-width:800px) {

        .category-cls,
        .notes-cls,
        .action-cls{
            width: 100%;
        }
       
    }
    
    @media screen and (max-width:800px) {
        .category-cls,
        .notes-cls,
        .action-cls,
        .login-cls,
        .register-cls{
            width: 100%;
        
        }
    }

  /* *{
    border: 1px solid red;
   }
*/